<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive New Site</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- vue.js -->
    <script src="assets/vue.js"></script>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body>
    <div id="vue-app">
        <nav id="header" class="section navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{ brand }}</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="top-nav">
                    <ul class="nav navbar-nav">
                        <li v-for="section in sections" v-bind:class="{active: section.isActive}">
                            <a href="#">{{ section.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="headline" class="section">
            <div class="container vertical-align omit-padding">
                <div class="col-md-5">
                    <div class="text">
                        <h1 class="news-title"><a href="#">{{ headline.title }}</a></h1>
                        <p class="text-center"><a class="headline-desc" href="#">{{ headline.desc }}</a></p>
                    </div>
                </div>
                <div class="col-md-7 omit-padding">
                    <a href="#"><img class="headline-img img-responsive" v-bind:src="'images/' + headline.img" v-bind:alt="headline.imgDesc"></a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div id="top-story" class="col-sm-6 col-md-3">
                    <div class="section-title parallelogram">
                        <h3 class="section-title-text">最新</h3>
                    </div>
                    <div class="news-article" v-for="item in topStories">
                        <a href="#">
                            <div class="row">
                                <img class="news-img img-responsive" v-if="item.img" v-bind:class="{ 'col-xs-5 col-md-12': item.img, 'col-md-12': !item.img }"
                                    v-bind:src="'images/' + item.img" v-bind:alt="item.imgDesc">
                                <div class="news-title" v-bind:class="{ 'col-xs-7 col-md-12': item.img, 'col-md-12': !item.img }">{{ item.title }}</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="trending" class="col-sm-6 col-md-3 float-right">
                    <div class="section-title parallelogram">
                        <h3 class="section-title-text">热门</h3>
                    </div>
                    <div class="news-article" v-for="item in trending">
                        <a href="#">
                            <div class="row">
                                <img class="news-img img-responsive" v-if="item.img" v-bind:class="{ 'col-xs-5 col-md-12': item.img, 'col-md-12': !item.img }"
                                    v-bind:src="'images/' + item.img" v-bind:alt="item.imgDesc">
                                <div class="news-title" v-bind:class="{ 'col-xs-7 col-md-12': item.img, 'col-md-12': !item.img }">{{ item.title }}</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="featured" class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="featured-article item-relative col-sm-6 col-md-12" v-for="item in featured">
                            <a href="#">
                                <img class="news-img img-responsive" v-bind:src="'images/' + item.img" alt="item.imgDesc">
                                <h2 class="news-title item-absolute">{{ item.title }}</h2>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="region row">
                <div class="col-md-12">
                    <h2 class="section-title text-left">国内</h2>
                </div>
                <div class="region-article col-sm-6 col-md-3" v-for="item in china">
                    <div class="row">
                        <img class="col-xs-5 col-sm-12 news-img img-responsive" v-bind:src="'images/' + item.img" v-bind:alt="item.imgDesc">
                        <div class="news-title col-xs-7 col-sm-12">{{ item.title }}</div>
                    </div>
                </div>
            </div>
            <div class="region row">
                <div class="col-md-12">
                    <h2 class="section-title text-left">国际</h2>
                </div>
                <div class="region-article col-sm-6 col-md-3" v-for="item in world">
                    <div class="row">
                        <img class="col-xs-5 col-sm-12 news-img img-responsive" v-bind:src="'images/' + item.img" v-bind:alt="item.imgDesc">
                        <div class="news-title col-xs-7 col-sm-12">{{ item.title }}</div>
                    </div>
                </div>
            </div>
            <div class="region row">
                <div class="col-md-12">
                    <h2 class="section-title text-left">评论</h2>
                </div>
                <div class="region-article col-sm-6 col-md-3" v-for="item in remarks">
                    <div class="row">
                        <img class="col-xs-5 col-sm-12 news-img img-responsive" v-bind:src="'images/' + item.img" v-bind:alt="item.imgDesc">
                        <div class="news-title col-xs-7 col-sm-12">{{ item.title }}<br><span class="news-desc">{{ item.desc }}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer"></div>
    </div>
</body>

<script src="assets/bundle.js"></script>

</html>