$primaryFontSize: 16px;

$horizontalLineColor: #ddd;
$fontColorOnHover: #c00;
$newsDescColor: #777;

$headlineBackgroundColor: #f8f8f8;
$sectionBackgroundColor: rgb(51,51,51);

.headline-desc {
    font-size: 24px;
    color: $newsDescColor;
}
.news-desc {
    font-size: 16px;
    color: $newsDescColor;
}

.news-img {
    margin-bottom: 10px;
}

body {
    font-size: $primaryFontSize;
}

.item-relative {
    position: relative;
}

.item-absolute {
    position: absolute;
}

.float-right {
    float: right;
}

@mixin verticalAlignment() {
    display: flex;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    &:hover {
        color: $fontColorOnHover;
        text-decoration: none;
    }
}

.parallelogram {
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    transform: skew(-10deg);
}

.section {
    margin-bottom: 40px;
}

#headline {
    background-color: $headlineBackgroundColor;
}

@media screen and (min-width: 992px) {
    .vertical-align {
        @include verticalAlignment();
    }
}

#top-story, #trending {
    margin-bottom: 40px;
    .section-title {
        text-align: center;
    }
    .section-title-text {
        margin-top: 0;
        display: inline-block;
        padding: 0.3em 0.9em;
        color: white;
        background-color: $sectionBackgroundColor;
    }
    .news-article {
        padding: 10px 0;
        border-bottom: 1px solid $horizontalLineColor;
    }
    .news-article:last-child {
        border-bottom: none;
    }
}

#featured {
    .featured-article {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 40px;
        }
    }
    .news-title {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.region {
    .section-title {
        padding-top: 6px;
        border-top: 4px solid $horizontalLineColor;
        margin-top: 0;
    }
    .region-article {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 425px) {
    h1 {font-size: 28px;}
    h2 {font-size: 22px;}
    h3 {font-size: 16px;}
    body {
        font-size: $primaryFontSize - 2;
    }
    .headline-desc {display: none;}
    .news-desc {font-size: 14px;}
    .news-img {
        padding-right: 0;
        margin-bottom: 0;
    }
    #featured .featured-article, .region .region-article {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    .section, #top-story, #trending {
        margin-bottom: 20px;
    }
}